[submodule "git-configuration"]
	path = git-configuration
	url = https://github.com/iurietopor/git-configuration.git
[submodule "vim_configuration"]
	path = vim_configuration
	url = https://github.com/iurietopor/vim_configuration.git
[submodule "terraform_install"]
	path = terraform_install
	url = https://github.com/iurietopor/terraform_install.git
[submodule "az_cli_install"]
	path = az_cli_install
	url = https://github.com/iurietopor/az_cli_install.git
